esphome:
  name: ph-ep2235-coffee
  friendly_name: PH-EP2235-COFFEE

esp32:
  board: m5stack-atoms3
  variant: esp32s3
  framework:
    type: esp-idf
    
# Enable logging
logger:
  # Disable serial logging
  baud_rate: 0

external_components:
  - source: github://william-sy/ESPHome-Philips-Smart-Coffee@main
    components: [ philips_coffee_machine ]
    refresh: always

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  power_save_mode: light
  ap:
    ssid: "Ph-Ep2235-Coffee"
    password: "Ph-Ep2235-Coffee"

api:
  encryption:
    key: "Ph-Ep2235-Coffee"

captive_portal:

# Enable Web server.
web_server:
  port: 80
  version: 3

uart:
  # UART connected to the mainboard
  - tx_pin: GPIO39
    rx_pin: GPIO38
    baud_rate: 115200
    id: uart_mainboard

  # UART connected to the display
  - tx_pin: GPIO5
    rx_pin: GPIO6
    baud_rate: 115200
    id: uart_display

philips_coffee_machine:
  display_uart: uart_display
  mainboard_uart: uart_mainboard
  power_pin: GPIO8
  id: philip

text_sensor:
  - platform: philips_coffee_machine
    controller_id: philip
    id: status
    name: "Status"

switch:
  - platform: philips_coffee_machine
    controller_id: philip
    name: "Power"
    icon: mdi:coffee-maker

button:
  - platform: philips_coffee_machine
    controller_id: philip
    action: MAKE_COFFEE
    name: "Make Coffee"
    icon: mdi:coffee

  - platform: philips_coffee_machine
    controller_id: philip
    action: SELECT_HOT_WATER
    name: "Select Hot Water"
    icon: mdi:tea

  - platform: philips_coffee_machine
    controller_id: philip
    action: PLAY_PAUSE
    name: "Select play/pause"
    icon: mdi:play-pause

number:
  - platform: philips_coffee_machine
    type: bean
    name: "Coffee beans"
    controller_id: philip
    status_sensor_id: status
    source: COFFEE

  - platform: philips_coffee_machine
    type: size
    name: "Coffee size"
    controller_id: philip
    status_sensor_id: status
    source: COFFEE
